:root {
    --side-bar-clr:#22d3ee;
    --side-bar-font-clr:#f3e8ff;

    --header-clr:#fef08a;
    --btn-bckclr:#22d3ee;
    --btn-clr:white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


.container {
    /* text-align: center; */

    display: grid;
    grid-template-columns: 1fr 8fr;
}

.side-bar {
    background-color: var(--side-bar-clr);
    color: var(--side-bar-font-clr);

    display: flex;
    flex-direction: column;
    gap: 50px;

    grid-column: 1;
    grid-row: 1 / 4;
}

.side-bar img {
    height: 25px;
    margin-right: 10px;
    vertical-align: middle
}

.top-side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 2rem;
}

.top-side img {
    height: 50px;
}

.side-bar ul {
    display: grid;
    align-items: center;
    gap: 20px;
    margin-left: 25px;
}

.header {
    background-color: var(--header-clr);
    display: grid;
    align-items: center;
    gap: 10px;
    padding: 25px;
    
    grid-column: 2/4;
}

.header img {
    height: 50px;
}

.search-container img {
    height: 20px;
    vertical-align: bottom;
}

.search-container input {
    width: 80%;
}

input {
    appearance: none;
    font-family: inherit;
    border: none;
}

input[type="search"] {
    border-radius: 25px;
}

.user-greeting {
    grid-column: 1;
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-notification {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.user-notification img:first-child{
    height: 25px;
}

.button-containers {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.button-containers button {
    padding: 10px;
    width: 4.5rem;
    border-radius: 20px;

    background-color: white;
    color: black;
    border: 2px solid black;
}

.button-containers button:active {
    background-color: var(--btn-bckclr);
    color: var(--btn-clr);
    border:2px solid #22d3ee;
}


.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: span 2;
    grid-row: 2 / 4;
    gap:10px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));
    gap: 2px;
}

.projects span {
    font-size: 2rem;
    font-weight: bold;
}

.projects img {
    height: 25px;
}

.trending img {
    height: 50px;
}

.projects {
    background-color: #FFFFFF;
    color: black;
    border: 1px solid black;
    height: 300px;
    padding: 5px;
    
    display: grid;
    align-items: center;
}

.img-container {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

/* 
.right-container {
    display: grid;
} */


.announcement-container {
    display: grid;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 25px;
    
}

.announcement-container div:nth-child(1n) {
    border-bottom: 1px solid black;
}


.trending-container {
    display: grid;
    border: 1px solid black;
    border-radius: 25px;
    gap: 25px;
}

.trending {
    display: flex;
}